<div class="container mt-5">

    <div class="d-flex align-items-center mb-4">
        <h1 class="">Day 2 Scores </h1>
        <h5 class="mx-3">(green brackets are gift card eligible)</h5>
        <button id="setDay1Btn" type="button" class="btn btn-primary">
            Set Day 1 Scores
        </button>       
    </div>

  <!-- Vertical stack -->
  {{#each day2Data}}
    <div class="card mb-3 shadow-sm {{#if this.giftCardEligable}}bg-success{{/if}}">
      <div class="card-body">
        <h5 class="card-title"><a target="_blank" class="fw-bold text-decoration-underline" href="{{this.bracketUrl}}">{{this.bracketName}}</a> ({{this.name}})</h5>
        <p class="card-text">
          <strong>Score:</strong> {{this.score}}
        </p>
      </div>
    </div>
  {{/each}}
</div>

<script>
  // Disable reset button friday march 20th and 12:15pm
  document.addEventListener("DOMContentLoaded", function () {
      const button = document.getElementById("setDay1Btn");

      // What day is the party?
      var dayOfParty = 20;

      const targetDate = new Date();
      targetDate.setMonth(2);
      targetDate.setDate(dayOfParty);
      targetDate.setHours(12, 15, 0, 0);

      function checkTime() {
          const now = new Date();

          if (now >= targetDate) {
              button.disabled = true;
          }
      }

      checkTime();
      setInterval(checkTime, 1000);
  });

  $('#setDay1Btn').on('click', function() {
      $.ajax({
          url: '/update-day1-data',
          type: 'PUT',
          success: function() {
              location.reload();
          },
          error: function(xhr, status, error) {
              console.error('Error:', error);
              alert('Failed to reset Day 1 data.');
          }
      });
  });
</script>